@charset "UTF-8";
@use "pc";
@use "tablet";
@use "mobile";
/* 기본 스타일 */
:root {
  --containerWidth: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

